@page
@model Maris_Silviu_Proiect.Pages.Pacienti.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pacient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pacient.ID" />
            <div class="form-group">
                <label asp-for="Pacient.Nume" class="control-label"></label>
                <input asp-for="Pacient.Nume" class="form-control" />
                <span asp-validation-for="Pacient.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacient.Salon" class="control-label"></label>
                <input asp-for="Pacient.Salon" class="form-control" />
                <span asp-validation-for="Pacient.Salon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacient.Diagnostic" class="control-label"></label>
                <input asp-for="Pacient.Diagnostic" class="form-control" />
                <span asp-validation-for="Pacient.Diagnostic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacient.DataInternare" class="control-label"></label>
                <input asp-for="Pacient.DataInternare" class="form-control" />
                <span asp-validation-for="Pacient.DataInternare" class="textdanger"></span>
            </div>
            <label asp-for="Pacient.MedicID" class="control-label">Numele Medicului</label>
            <select asp-for="Pacient.MedicID" class="form-control" asp-items="ViewBag.MedicID">
            </select>
            <span asp-validation-for="Pacient.MedicID" class="text-danger"></span>

            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var cat in Model.AssignedSectieDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedSectii"
                                               value="@cat.SectieID"
                                               @(Html.Raw(cat.Assigned ? "checked=\"checked\"" : "")) />
                                        @cat.SectieID @: @cat.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
